*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

font-family:'Inter',sans-serif;

background:#FAFAFA;

color:#202020;

}

a{

text-decoration:none;

color:inherit;

}

button{

font-family:inherit;

cursor:pointer;

}

:root{

--primary:#202020;

--secondary:#6E6E6E;

--background:#FAFAFA;

--white:#ffffff;

--border:#ECECEC;

--shadow:0 10px 35px rgba(0,0,0,.05);

--radius:18px;

}